<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	 <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
	   <property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
	   <property name="url" value="jdbc:oracle:thin:@192.168.0.8:1521:XE"/>
	   <property name="username" value="bdn"/>
	   <property name="password" value="bdn"/>
	  </bean>
		
	<bean id = "transactionManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  <property name = "dataSource"  ref = "dataSource"></property>
	 </bean>	
	 
	   <bean id="sqlSessionFactory"  class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" /> 
        <property name="configLocation"  value="classpath:mybatis-config.xml" />
	  </bean>
		
		<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	    <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
	 </bean>
	 
	 
	 <context:annotation-config></context:annotation-config>
	 <tx:annotation-driven transaction-manager="transactionManager"/>
	 <context:component-scan base-package="com.test.dao"></context:component-scan>
	 
	 
	 <bean id="messageSource" class = "org.springframework.context.support.ResourceBundleMessageSource">
	   <property name="basenames">
	 	 <list>
			<value>message</value>	  
			<value>error</value>	 
	  	</list>
	   </property>
	 </bean>



</beans>
