<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IsMaterMapper">

<insert id="insert">
INSERT INTO ISMATER VALUES(
	ismater_seq.NEXTVAL,
	#{kor_name},
    #{eng_name},
    #{chn_name},
    #{jumin_no},
    #{image_name},
    #{bir},
    #{sex},
    #{marital_status},
    #{work_date},
    #{pay_type},
    #{work_flag},
    #{join_type},
    #{address},
    #{phone},
	#{email},
	#{tech_lev},
	#{drinkingCapacity}
)

</insert>


<select id="selectAll"  resultType="IsMater" parameterType="java.util.Map">

<![CDATA[
select * from (SELECT * FROM ( SELECT rownum rnum,kor_name,jumin_no,work_date,work_flag,tech_lev FROM ISMATER)
where rnum <= #{endPage} ) where rnum >= #{startPage}
]]>

</select>

<select id="selectAllList"  resultType="IsMater">
select * from ISMATER
</select>


<!-- select rownum, a.*
from is_mater a
where rownum between #{startPage} and #{endPage} -->


</mapper>